Пользователь должен увидеть ссылку на базовый план с домашней страницы
Пользователь должен увидеть ссылку на платный план с домашней страницы
Базовый план должен отправлять к обычной ДЕВАИС подписатся форме!
Платный план должен отправлять к продвинутой ДЕВАИС подписатся форме!