

    <div class="container col-sm-10 text-left"> 
  <h1>История &nbsp;</h1>
  
<p><span>ПРИВАТНЕ АКЦІОНЕРНЕ ТОВАРИСТВО&nbsp; «УКРАЇНСЬКИЙ СТРАХОВИЙ КАПІТАЛ»</span></p>
<p>(ПРАТ «УСК»)</p>
<p><strong>Код ЄДРПОУ</strong>&nbsp; <span style="color: #333333;">23707357</span><strong><span style="color: #333333;">&nbsp; &nbsp; &nbsp; &nbsp; </span>&nbsp; &nbsp;</strong></span></p>
<p><strong><strong><strong>Дата заснування: </strong>&nbsp; &nbsp;</strong></strong>21 вересня 1995 року</p>
<p>Статутний фонд складає 115 407 000 грнивень&nbsp;</p>
<p>Види діяльності за КВЕД-2010:</p>
<p>65.12 Інші види страхування, крім страхування життя;</p>
<p>65.20 Перестрахування;</p>
<p>66.22 Діяльність страхових агентів і брокерів</p>

<p>Компанія має <a href="http://www.yck.com.ua/accordions/view/litcenzii"> </a><strong><a href="http://www.yck.com.ua/accordions/view/litcenzii">29 ліцензії *</a></strong>на надання послуг з добровільного та обов'язкового страхування, що дозволяє задовольнити потреби будь-якого клієнта</p>


</div>

