<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp 2222</title>
    <%= csrf_meta_tags %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
  </head>
<body>

 <!-- navbar start -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
        <!-- lists of brand names, positioned at top of the browser -->
      <a class="navbar-brand" href="#">Coca.LTD</a>
         </div>
          <!-- end of, brands names-->
          
          
     <!-- DIV BLOCK = Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
         <!-- lists names at top of the browser -->
         <ul class="nav navbar-nav">
             <li><a href='/about'>About</a></li>
            </ul>
         <!-- end of, lists names at top of the browser-->
        
        <!--                          navbar end                                      -->
<div class='container'>
                      <%= yield %>
    </div>
    
    
  </body>
</html>
